body,html {
    margin: 0;
    padding: 0;
}

#header{
    background-color: black;
    color: white;
    width: auto;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    font-size: medium;
    

}

#heading1{
 padding: 25px;
}

.learn-more-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: black;
    color: #fff;
    border-radius: 0px;
    margin-left: 25px;
    text-decoration: none;
    width: 100px;
    
}

#heading2{
    padding: 25px;
}

.image{
    width: 280px;
    height: 400px;
}

#list{
    margin-left: 25px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#orderlist{
    margin-left: 2px;
    font-size: 15px;
    text-decoration: none;
}

#unorderlist {
    margin-left: 2px;
    font-size: 15px;
    text-decoration: none;
}

#table {
    margin-left: 25px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


table {
    font-family: arial, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
    height: 320px;
    padding: 50px;
    margin: 25px;
    font-size: small;
}

td {

    text-align: center;
    padding: 8px;
    border-right: solid 1px black;
    border-left: solid 1px black;
    
}



th {

    border: 1px solid black;
    text-align: left;
    padding: 8px;
    text-align: center;
    
}

tfoot{
    border: 1px solid black;
    background-color: black;
    color: white;
}